*{
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
  position: relative;
  min-height: 100vh;
  color: white;
}

@keyframes fadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.navbar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeIn 2s ease-in-out;
  max-width: 100vw;
}

.navigation{
  display: flex;
  justify-content: flex-end;
  max-width: 90vw;
  max-height: 5vh;
  margin-top: 1vh;
  animation: fadeIn 2s ease-in-out;
  align-items: center;
}

.navbar-img{
  width: 50vw;
  height: auto;
  margin-top: 5vh;
}

.footer{
  height: 5vh;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-image: url('./assets/black-pine-footer.png');
  background-size: contain;
  animation: fadeIn 2s ease-in-out;
}

.home{
  padding-bottom: 15vh;
  padding-top: 5vh;
  animation: fadeIn 3s ease-in-out;
}

.massage-header{
  display: flex;
  width: 100%;
}

.massage-header > h3{
  justify-self: center;
}


.contact-logo{
  width: 100%;
}

.admin-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
  width: 100%;
  margin-bottom: 10vh;
}

.admin-home-button{
  position: absolute !important;
  right: 15vw;
  top: 5vh;
}


@media (max-width: 767px) {
  .service-card{
    margin-left: 5vw !important;
    margin-right: 5vw !important;
  }
  .massage-close-button{
    position: relative !important;
    align-self: flex-end;
    margin-bottom: 3vh !important;
    margin-top: 0;
  }
  .massage-card{
    width: 85vw !important;
  }

  .massage-container{
    width: 100vw !important;
  }

  .navigation{
    max-width: 100vw;
    
    justify-content: center;
    
  }

  .navigation-btn{
    width: 14%;
    margin-left: .3vw !important;
  }
}